@model IEnumerable<Msit115BestOne.Areas.MyEva.Models.partial.Orderlistpartial>
@{
    ViewBag.Title = "個人需求單資料";
    var mid = Session["MEMBERID"];
    Layout = "~/Areas/MyMember/Views/Shared/_Layoutcreate.cshtml";
}
@section styles{
    <style>
        .user-row {
            margin-bottom: 14px;
        }

            .user-row:last-child {
                margin-bottom: 0;
            }

        .dropdown-user {
            margin: 13px 0;
            padding: 5px;
            height: 100%;
        }

            .dropdown-user:hover {
                cursor: pointer;
            }

        .table-user-information > tbody > tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

            .table-user-information > tbody > tr:first-child {
                border-top: 0;
            }


            .table-user-information > tbody > tr > td {
                border-top: 0;
                width: 50px;
            }

        .toppad {
            margin-top: 20px;
        }
    </style>}


<div class="form-horizontal" style="background-image:url('@Url.Content("~/Images/cartlist.jpg")') ;background-size:cover; background-repeat:no-repeat; background-position:center;">
    <br />
    <h1 style="font-family:DFKai-sb;margin-left:400px">@(ViewBag.nickname) 所有的需求單資料</h1>
    <hr size="2" />


    <div class="container" style="margin-left:200px">
        <div class="row" style="width:800px">
            <div class="panel panel-info" style="margin-bottom:200px">
                <div class="panel-body">
                    <div class="row">
                        <table class="table table-user-information">
                            <thead>



                                <tr>
                                    <th style="width:50px">@Html.DisplayNameFor(p => p.OrderID) </th>
                                    <th style="width:50px">@Html.DisplayNameFor(p => p.CaseID)</th>
                                    <th style="width:100px">@Html.DisplayNameFor(p => p.content)</th>
                                    <th style="width:70px">@Html.DisplayNameFor(p => p.NickName)</th>
                                    <th style="width:70px">@Html.DisplayNameFor(p => p.Contact)</th>
                                    <th style="width:70px">@Html.DisplayNameFor(p => p.Quantity)</th>
                                    <th style="width:90px">@Html.DisplayNameFor(p => p.OrderStatus1)</th>
                                    @*<th>@Html.DisplayNameFor(p => p.Point)</th>*@

                                </tr>
                            </thead>
                            <tbody id="tbody1">
    @foreach (var o in Model)
    {
        <tr style="background-color:ghostwhite">
            <td>@Html.DisplayFor(p => o.OrderID)</td>
            <td>@Html.DisplayFor(p => o.CaseID)</td>
            <td>@Html.DisplayFor(p => o.content)</td>
            <td>@Html.DisplayFor(p => o.NickName)</td>
            <td>@Html.DisplayFor(p => o.Contact)</td>
            <td>@Html.DisplayFor(p => o.Quantity)</td>
            <td>@Html.DisplayFor(p => o.OrderStatus1)</td>
            @*<td>@Html.DisplayFor(p => o.Point)</td>*@
        </tr>
    }
                       </tbody>



                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>