@model Msit115BestOne.Areas.MyCaseCenter.Models.Partial.CaseManPower
@{
    ViewBag.Title = "EditMan";
}
@section styles{
    <link href="~/Areas/MyCaseCenter/css/style.css" rel="stylesheet" />
    <style>
        .ProductsImg {
            height: 250px;
            width: 300px;
        }
    </style>
}
<h2>編輯</h2>
@using (Html.BeginForm("EditMan", "MyManPower", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(p => p.CaseID)
    @Html.HiddenFor(p => p.MPID)
    @Html.HiddenFor(p => p.StatusID)
    <div class="form-group">
        @Html.LabelFor(p => p.CaseTitle, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.EditorFor(p => p.CaseTitle, new { htmlAttributes = new { @class = "form-control", placeholder = "CaseTitle", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.CaseTitle, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(p => p.MPName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">

                @Html.EditorFor(p => p.MPName, new { htmlAttributes = new { @class = "form-control", placeholder = "GdsName" } })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(p => p.MPSubClass1, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.DropDownList("MPClassID", null, htmlAttributes: new { @class = "form-control", style = "Width:500px" })
            @Html.DropDownList("MPSubClassID", null, htmlAttributes: new { @class = "form-control", style = "Width:500px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(p => p.CaseContent, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.EditorFor(p => p.CaseContent, new { htmlAttributes = new { @class = "form-control", placeholder = "CaseContent", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.CaseContent, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MPNeedCount, new { @class = "col-sm-2 control-label", id = "mp" })
        <div class="col-sm-10">

            @Html.EditorFor(p => p.MPNeedCount, new { htmlAttributes = new { @class = "form-control", placeholder = "MPNeedCount", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.MPNeedCount, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(p => p.MPActuralCount, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.EditorFor(p => p.MPActuralCount, new { htmlAttributes = new { @class = "form-control", placeholder = "MPActuralCount", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.MPActuralCount, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        @Html.LabelFor(p => p.MPDate, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.EditorFor(p => p.MPDate, new { htmlAttributes = new { @class = "form-control", placeholder = "MPDate", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.MPDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MPTime, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.EditorFor(model => model.MPTime, new { htmlAttributes = new { @class = "form-control", placeholder = "MPTime", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.MPTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Location, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.DropDownList("CityID", null, htmlAttributes: new { @class = "form-control", style = "Width:500px" })
            @Html.DropDownList("RegionID", null, htmlAttributes: new { @class = "form-control", style = "Width:500px" })
            @Html.EditorFor(p => p.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "Location", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.Location, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Contact, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">

            @Html.EditorFor(p => p.Contact, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact", style = "Width:500px" } })
            @Html.ValidationMessageFor(p => p.Contact, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div id="Picturebox" style="width:330px;height:280px;border:1px solid black; padding:10px 10px;" class="form-group">

                @*<div style="width:1400px;">
                        @Html.Action("ManyImages")
                    </div>*@
                <a @*href="post.html"*@ class="box" id="aaaaa">
                    <img id="blah" src='@Url.Action("BytesImage2", "MyManPower", new { area = "MyCaseCenter", id = Model.ImageID })' class="align-left thumbnail ProductsImg" alt="預覽圖">
                </a>
            </div>
            @*submit*@
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="files">瀏覽圖檔</label>
        <div class="col-md-3">
            <input type="file" id="strPhoto" name="strPhoto" multiple class="form-control" style="width:300px" />
        </div>

    </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> 確定修改</button>
            </div>
            @*<div>@ViewBag.Message</div>*@
        </div>
}




@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        $(document).ready(function () {
            var sel = $('#MPClassID');
            var se2 = $('#MPSubClassID');
            sel.change(function () {
                var id = $(this).val();
                var url = "@Url.Action("SubClass", "MyManPower")/" + id;
                $.getJSON(url, function (datas) {
                    var docFrag = $(document.createDocumentFragment());
                    $.each(datas, function (idx, SubClass1) {
                        var opt = $('<option></option>').val(SubClass1.MPSubClassID).text(SubClass1.MPSubClass1);
                        docFrag.append(opt);
                    });
                    se2.html(docFrag);
                })
            })

            var sell = $('#CityID');
            var sell2 = $('#RegionID');
            sell.change(function () {
                var id = $(this).val();
                var url = "@Url.Action("RegionC", "MyManPower")/" + id;
                $.getJSON(url, function (datas) {
                    var docFrag = $(document.createDocumentFragment());
                    $.each(datas, function (idx, region1) {
                        var opt = $('<option></option>').val(region1.RegionID).text(region1.RegionName);
                        docFrag.append(opt);
                    });
                    sell2.html(docFrag);
                    $('#Location').val("");
                })
            })
            var statusid = $('#StatusID').val();
            if (statusid == 8) {
                $('#mp').text('提供人數');
            }
            //預覽圖的方法
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
            var casid = $('#CaseID').val();
            $("#strPhoto").change(function () {
                var url = "@Url.Action("RemovePicture", "MyManPower")/" + casid;
                $.getJSON(url, function (datas) {

                    $.each(datas, function (idx, remove) {
                        //var opt = ;
                        //docFrag.append(opt);
                    });
                    //sell2.html(docFrag);
                })
                readURL(this);
            });

        })

    </script>
}
